<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.eis.dailycallregister">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.SpclDcrChemPob"></activity>
        <activity android:name=".Activity.SpclDcrChemData"></activity>
        <activity android:name=".Activity.SpclDcrEditPhoneNo"></activity>
        <activity android:name=".Activity.SpclDcrRemarks"></activity>
        <activity android:name=".Activity.SpclDcrPracticeDet"></activity>
        <activity android:name=".Activity.SpclDcrDoctorsData"></activity>
        <activity android:name=".Activity.SpclDcrEntry" />
        <activity android:name=".Activity.ShowImage" />
        <activity android:name=".Activity.PlayAudio" />
        <activity android:name=".Activity.HOExpenseData" />
        <activity
            android:name=".Activity.HODoctorsData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HOChemistsData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HOWDData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HOHubData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HONonFieldWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HOHubDCRRemarkEntry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HOWDDCRRemarkEntry"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.HoMtpPatchSelection" />
        <activity android:name=".Activity.HoMtpSelectedPsr" />
        <activity android:name=".Activity.HoMtpPSRSelection" />
        <activity android:name=".Activity.HoMtpMgrList" />
        <activity android:name=".Activity.HOMtpActivity" />
        <activity android:name=".Activity.AddOtherChemist" />
        <activity android:name=".Activity.PatientList" />
        <activity android:name=".Activity.UploadSelFie" />
        <activity
            android:name=".Activity.DrListToAddOtherChemist"
            android:theme="@style/AppSearchView" />
        <activity android:name=".Activity.CapNUpSelfie" />
        <activity android:name=".Activity.ChemistDetails" />
        <activity android:name=".Activity.ChemistProfileList" />
        <activity
            android:name=".Activity.PatientProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PatientDrList"
            android:screenOrientation="portrait"
            android:theme="@style/AppSearchView" />
        <activity
            android:name=".Activity.Quiz"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MgrRcpaDrList"
            android:screenOrientation="portrait"
            android:theme="@style/AppSearchView" />
        <activity
            android:name=".Activity.MgrRCPA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DCRRCPA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CheckDCRSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.VisitPlanSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChemDCRGift"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DocDCRProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DocDCRGift"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HODocDCRProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HODocDCRGift"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HODocDCRRemarksEntry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HOChemDCRPOBEntry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HODocDCRDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CapNUpVstCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Remarks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NonFieldWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ExpenseData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChemistData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DoctorsData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>